<main id="main">
    <table>
        <caption>
            Our delicious selection of pies and cakes for you to enjoy!
        </caption>
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom de la tarte/Cake</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="assets/image/products/cheesecakesmall.jpg" width="100"></td>
                <td>Cheese cake</td>
                <td>Un pur plaisir.</td>
                <td>12Dt</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
            <tr>
                <td><img src="assets/image/products/applepiesmall.jpg" width="100"></td>
                <td>Apple pie</td>
                <td>Notre tarte de pommes vedette</td>
                <td>14DT</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
            <tr>
                <td><img src="assets/image/products/cherrypiesmall.jpg" width="100"></td>
                <td>Cherry pie</td>
                <td>La classique!</td>
                <td>18Dt</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
            <tr>
                <td><img src="assets/image/products/cranberrypiessmall.jpg" width="100"></td>
                <td>Cranberry pie</td>
                <td>En un mot ... Onctueuse !</td>
                <td>16DT</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
            <tr>
                <td><img src="assets/image/products/peachpiesmall.jpg" width="100"></td>
                <td>Peach pie</td>
                <td>Un délice!</td>
                <td>18Dt</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
            <tr>
                <td><img src="assets/image/products/pumpkinpiesmall.jpg" width="100"></td>
                <td>Pumpkin pie</td>
                <td>Le sommet du goût !</td>
                <td>17Dt</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
            <tr>
                <td><img src="assets/image/products/strawberrycheesecakesmall.jpg" width="100"></td>
                <td>Strawberry Cheese Cake</td>
                <td>L'authentique</td>
                <td>13DT</td>
                <td><a href="#">Voir détails</a></td>
            </tr>
        </tbody>
    </table>
</main>
