<div style="width:1000px;margin-left: auto;margin-right: auto;">
<aside id="leftmenu">
    <img src="assets/image/logo.png" />
    <header>
        <h4 style="text-align: center;">Explorez nos cakes</h4>
    </header>
    <input type="search" class="searchbox" placeholder="Search our store" />
    <ul>
        <li><a routerLink="all">Tous</a></li>
        <li><a routerLink="cheeseCake">Cheese cakes</a></li>
        <li><a routerLink="pies">Tartes</a></li>
        <li><a routerLink="promos">Promotions</a></li>
    </ul>
</aside>
</div>

