<div style="width:1000px;margin-left: auto;margin-right: auto;">

<main id="main">
    <button (click)="save()" type="button">J'aime</button>
    <span id="favorite">{{ message }}</span>
    <article>
        <header>
            <h1 style="font-size:35px;color:#a593c2">Bienvenue à notre boutique !</h1>
        </header>
        <figure>
            <img src="assets/image/cakes.jpg" width="600" alt="La vitrine de notre boutique" />
            <figcaption>Vitrine de la boutique Cake's shop</figcaption>
        </figure>
        <h2>Notre histoire</h2>
        <p>
            Pendant de nombreuses années, Cake Shop a préparé les gâteaux les plus délicieux chez eux en Tunisie.
            En 2013, nous avons ouvert notre première boutique dans une petite rue charmante au cœur de Tunis.
            Les gens du monde entier sont tombés amoureux de nos moelleux gâteaux, nos cheesecakes divins et nos tartes
            aux pommes épicées...
        </p>
        <p>
            La boutique a rapidement connu un grand succès. En 2015, pas moins de 100 gâteaux étaient vendus chaque jour, et Cake Shop a déménagé dans un espace plus grand pour répondre à la demande croissante.
        </p>
        <p>
            Vous découvrez maintenant le résultat de ce projet : notre propre boutique en ligne, vous permettant de
            commander les délicieux gâteaux de Cake Shop à tout moment !
        </p>
        <hr>
        
    </article>

    
</main>
</div>